body {
  background-color: #e6d8ff; /* Hell-Lila Hintergrund */
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-header {
  background-color: #13006a; /* Dunkelblau */
  color: white;
  padding: 20px 0;
}

/* Navigation */
.custom-nav {
  background-color: #4a1dbf; /* Lila */
}

.custom-nav .nav-link {
  color: white; /* Navigationstexte */
}

.custom-nav .nav-link:hover {
  color: #a3c3ea; 
}

main {
  padding: 20px;
  background-color: #e6d8ff; 
  color: black;
  flex-grow: 1; 
  display: flex; 
  gap: 20px; 
  align-items: flex-start; 
}

.instructions {
  flex: 1; 
}

.image-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


.last-image {
  display: flex;  
  gap: 20px; 
  justify-content: flex-start; 
  flex-wrap: nowrap; 
  margin-top: 20px;
  margin-left: -20px; 
}

.last-image img {
  width: 150px;  
  height: auto; 
  border-radius: 10px; 
}


.image-container .d-flex img {
  margin-left: -30px; /* Verschiebt beide Bilder nach links */
}


.image-container .d-flex {
  display: flex;
  gap: 20px; /* Abstand zwischen den beiden Bildern */
  justify-content: flex-start; /* Stellt sicher, dass die Bilder von links beginnen */
}

/* Abstände zwischen den Bildern weiter anpassen */
.image-container .d-flex img:first-child {
  margin-right: 20px; /* Abstand zwischen den beiden Bildern */
}

h2 {
  font-weight: 600; 
}

h1 {
  font-weight: bold;
}

.custom-footer {
  background-color: #4a1dbf; /* Lila */
  color: white;
  text-align: center;
  padding: 5px 0; /* Weniger Padding für einen kleineren Footer */
  position: fixed;   
  bottom: 0;         
  width: 100%;       
}

.custom-footer p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.btn-darkblue {
  background-color: #13006a; 
  color: white; 
  border: black; 
}

.btn-darkblue:hover {
  background-color: #855dea; 
  color: #ddd; 
}
img{
  border-radius: 10px;
}
